@page
@model OdeToFood1.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-append">
                <button class="btn btn-primary">
                    <i>Search</i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine Type</th>
        </tr>
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-primary"
                    asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                    <i class="glpyhicon glyphicon-zoom-in">Details</i>
                </a>
            </td>
            <td>
                <a class="btn btn-info"
                    asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    <i class="glpyhicon glyphicon-edit">Edit</i>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-info">Add New</a>

<div>@Model.Message</div>